body {
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.form input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2c7be5;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fafafa;
    padding: 10px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    border-left: 5px solid #ff5c5c;
}
